# ignore  the following files #
###############################

Oda Nobunaga_0084 BC-0775.Civ5Save
Oda Nobunaga_0099 BC-0400.Civ5Save
Oda Nobunaga_0226 AD-1580.Civ5Save
Oda Nobunaga_0360 AD-1940.Civ5Save
Pachacuti_0000 BC-4000.Civ5Save
Pachacuti_0017 BC-3320.Civ5Save
Pachacuti_0057 BC-1720.Civ5Save
Pachacuti_0079 BC-0900.Civ5Save
Pachacuti_0090 BC-0625.Civ5Save
Pachacuti_0092 BC-0575.Civ5Save
Pachacuti_0120 AD-0125.Civ5Save
Pachacuti_0272 Victory branch.Civ5Save
Washington_0000 BC-4000.Civ5Save
Washington_0044 BC-2240.Civ5Save
Washington_0054 BC-1840.Civ5Save
Washington_0070 BC-1200.Civ5Save
Washington_0118 AD-0075.Civ5Save
Washington_0201 AD-1410.Civ5Save
Washington_0502 AD-2051-January.Civ5Save

.gitignore.swp
.gitignore~
README.md

